.example-form-field {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .songKickCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .songKickCardEnd {
    height: 50px;
    bottom: 20px;
    position: sticky;
  }

.iconSongKick {
    width: 80px;
    height: 80px;
}
